---
const {link, caption, height} = Astro.props
---

<div class="holder">
<img height={height} src={link}>
	<p>{caption}</p>
  </div>

<style>
  .holder {
    padding: 35px;
    font-family: cursive;
    background-color: rgb(226, 17, 49);
    border: solid, black;
    font-size: 65px;
  }

  img {
    object-fit: cover;
    transform: rotate(20deg);
  }

</style>
